$dark-purple: #483e5a;
$soft-purple: #deccff;
$strong-purple: #9696f1;
$common-purple: #7c0fdc;

$form-background-gradient-top: #e1e1f9;
$form-background-gradient-bottom: #a9a5ef;
$form-border: #b9b9f5;

$cl-color-default: #535254;
$cl-color-strong: #4e4161;
$cl-color-active: blue;
$cl-color-invalid: red;