@import '../../styles/colors.scss';

.iq-select {
    display: flex;
    padding: 0.5em 0.2em 0.2em 0.2em;
    color: #535254;
    flex-direction: column;

    &__title {
        position: absolute;
        transition: 0.2s;
        margin-left: 0.3em;
        color: #4e4161;
        transform: translateY(-1.3em);
        font-size: 12px;
    }

    &__title.active {
        color: $cl-color-active;
    }
    
    &__list {
        border: solid 1px transparent;
        border-radius: 2px;
        padding: 0.3em;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 14px;
    }

    select:focus {
        outline: none;
        border-color: $cl-color-active;
        border-radius: 2px;
    }
}